@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #030014;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #555555;
}
::-webkit-scrollbar-thumb {
  background: #adadad;
  border-radius: 10px;
  min-height: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.search-card:hover {
  box-shadow: rgba(88, 28, 135, 0.25) 0px 54px 55px,
    rgba(88, 28, 135, 0.25) 0px -12px 30px, rgba(88, 28, 135, 0.25) 0px 4px 6px,
    rgba(88, 28, 135, 0.17) 0px 12px 13px, rgba(88, 28, 135, 0.09) 0px -3px 5px;
}
.search-card {
  box-shadow: rgba(88, 28, 135, 0.25) 0px 54px 55px,
    rgba(88, 28, 135, 0) 0px -12px 30px, rgba(88, 28, 135, 0) 0px 4px 6px,
    rgba(88, 28, 135, 0.1) 0px 12px 13px, rgba(88, 28, 135, 0.09) 0px -3px 5px;
}

.bg-img {
  overflow: hidden;
  min-width: 620px;
}
.bg-video {
  height: 100%;
  object-fit: cover;
}
svg {
  fill: #8e3eda;
}
